<configuration scan="true" scanPeriod="30 seconds">

    <property name="LOG_HOME" value="poke-day-care-logs"/>
    <property name="default_log_pattern"
              value='%d{"dd/MM/yyyy HH:mm:ss,SSS"} || %-5level || %marker || [%thread] || %logger || %msg%n'/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${default_log_pattern}</pattern>
        </encoder>
    </appender>

    <appender name="log-file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/pokedc-logs.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/pokedc-logs.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxHistory>30</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>50MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>${default_log_pattern}</pattern>
        </encoder>
    </appender>

    <logger name="com.nefee.pokedaycare" level="INFO" additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="log-file"/>
    </logger>

    <logger name="org.hibernate" level="ERROR" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="org.springframework" level="ERROR" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <root level="ALL">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>