<configuration scan="true" scanPeriod="30 seconds">

    <property name="LOG_HOME" value="poke-day-care-logs"/>
    <property name="default_log_pattern"
              value='%d{"dd/MM/yyyy HH:mm:ss,SSS"} || %-5level || [%thread] || %logger || %msg%n'/>
    <property name="view_log_pattern"
              value='%d{"dd/MM/yyyy HH:mm:ss,SSS"} || %-5level || VIEW || %marker || [%thread] || %logger || %msg%n'/>
    <property name="logic_log_pattern"
              value='%d{"dd/MM/yyyy HH:mm:ss,SSS"} || %-5level || LOGIC || %marker || [%thread] || %logger || %msg%n'/>
    <property name="data_log_pattern"
              value='%d{"dd/MM/yyyy HH:mm:ss,SSS"} || %-5level || DATA || %marker || [%thread] || %logger || %msg%n'/>
    <property name="api_log_pattern"
              value='%d{"dd/MM/yyyy HH:mm:ss,SSS"} || %-5level || API || %marker || [%thread] || %logger || %msg%n'/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${default_log_pattern}</pattern>
        </encoder>
    </appender>

    <appender name="view-logfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/pokedc-logs.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/pokedc-logs.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxHistory>30</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>50MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>${view_log_pattern}</pattern>
        </encoder>
    </appender>
    <appender name="view-STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${view_log_pattern}</pattern>
        </encoder>
    </appender>

    <appender name="logic-logfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/pokedc-logs.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/pokedc-logs.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxHistory>30</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>50MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>${logic_log_pattern}</pattern>
        </encoder>
    </appender>
    <appender name="logic-STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${logic_log_pattern}</pattern>
        </encoder>
    </appender>

    <appender name="data-logfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/pokedc-logs.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/pokedc-logs.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxHistory>30</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>50MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>${data_log_pattern}</pattern>
        </encoder>
    </appender>
    <appender name="data-STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${data_log_pattern}</pattern>
        </encoder>
    </appender>

    <appender name="api-logfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/pokedc-logs.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/pokedc-logs.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxHistory>30</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>50MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>${api_log_pattern}</pattern>
        </encoder>
    </appender>
    <appender name="api-STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${api_log_pattern}</pattern>
        </encoder>
    </appender>

    <logger name="com.nefee.pokedaycare.view" level="DEBUG" additivity="false">
        <appender-ref ref="view-STDOUT"/>
        <appender-ref ref="view-logfile"/>
    </logger>
    <logger name="com.nefee.pokedaycare.logic" level="DEBUG" additivity="false">
        <appender-ref ref="logic-STDOUT"/>
        <appender-ref ref="logic-logfile"/>
    </logger>

    <logger name="com.nefee.pokedaycare.data" level="DEBUG" additivity="false">
        <appender-ref ref="data-STDOUT"/>
        <appender-ref ref="data-logfile"/>
    </logger>

    <logger name="com.nefee.pokedaycare.api" level="DEBUG" additivity="false">
        <appender-ref ref="api-STDOUT"/>
        <appender-ref ref="api-logfile"/>
    </logger>

    <logger name="org.hibernate" level="WARN" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="org.springframework" level="WARN" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>